{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}
{% block body_class %}home{% endblock %}

{% block body %}
    <header class="app-header">
        Header
    </header>

    <main class="app-main">
        {% for i in 0..50 %}
            <p>blabla</p>
        {% endfor %}
    </main>

    <footer class="app-footer">
        Footer
    </footer>
{% endblock %}
