{% extends 'base.html.twig' %}

{% block title %}Edit Post{% endblock %}

{% block body %}
    <header class="app-header">
        Header
    </header>

    <main class="app-main">
        <h1>Edit Post</h1>

        {{ include('post/_form.html.twig', {'button_label': 'Update'}) }}

        <a href="{{ path('app_post_index') }}">back to list</a>

        {{ include('post/_delete_form.html.twig') }}
    </main>

    <footer class="app-footer">
        Footer
    </footer>
{% endblock %}
